:root{
    --ff-primary: 'Roboto', sans-serif;

    --fs-1: 1rem;
    --fs-2: 1.333rem;
    --fs-3: 1.777rem;
    --fs-4: 2.2rem;
    --fs-5: 2.8rem;
    --fs-small: 0.75rem;
      


    --clr-primary:  #001a57;
    --clr-secondary: #001a57a6;
    --clr-primary-2: #001a57da;
    --clr-black-light: #343a40;
    --clr-dark: #777;
    --clr-light: rgba(43, 27, 27, 0.25);
    --clr-white: #fff;
    --clr-black: rgb(99, 59, 59);
    --clr-creamy: #f8f9fa;
    --clr-creamy-2: fafa;
    --clr-product: #d4a59a;
    --clr-sidebar: #fefefe;
    --clr-intro: #d4a59a;
    --clr-text--product: black;
    --line-height: 1.6;

    --box-shadow: 0 13px 15px -12px rgba(0,0,0,.15);
}

.main{
    background: #fff;
}

@media only screen and (min-width: 768px){
    :root{
       --fs-1: 1rem;
       --fs-2: 1.333rem;
       --fs-3: 1.777rem;
       --fs-4: 2.369rem;
       --fs-5: 3.157rem;
       --fs-small: 0.75rem;
   } 
}


@media only screen and (max-width: 328px){
   :root{
       --fs-1: 1rem;
       --fs-2: 1.15rem;
       --fs-3: 1.35rem;
       --fs-4: 1.6rem;
       --fs-5: 1.9rem;
       --fs-small: 0.8rem;
   }
}


.btn--product{
    line-height: 43px;
    border: 1px solid #fe7865;
    vertical-align: middle;
    transition: all ease-out .4s;
    padding: 0 25px;
    color: var(--clr-white);
    background-color: #fe7865;
    position: relative;
}

.btn--product::after{
    content: '';
    height: 1px;
    position:absolute;
    width: 80%;
    background-color: #fe7865;
    left: 0;
    top: 140%;
}

.btn--product:hover{
    background-color: var(--clr-white);
    color: #fe7865;
    border-color: #fe7865;
}

.intro{
    min-height: 200px !important;
    height: unset;
}

.intro--product{
    background-image: none;
    max-height: 600px;
    background-color: var(--clr-white);
    position: relative;
    padding: 4em 1.4em;
}

.textbox--intro--product{
    background-color: var(--clr-intro);
    padding: 1em 1em 2em 1em;
    margin-bottom: 1.5em;
}

.intro--print::after{
    content: '';
    display: block;
    width: 104%;
    transform: translateX(-2%);
    height: 200px;
    background-image: url('../Images/print-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section__title--product{
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--clr-black-light);
    margin-bottom: .5em;
    font-size: var(--fs-4);
}

.section__title--print{
    font-size: var(--fs-4);
}

.section__title--product::after{
    display: none;
}

.intro--product__body{
    color: var(--clr-dark);
    margin-bottom: 2em;
    line-height: 1.5;
    font-size: 18px;
}

.container{
    position: relative;
}

.side-grp{
    position: fixed;
    top: 1.2rem;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: transform .35s ease-in-out;
    transform: translateX(-100%);
}

.sidebar{
    background-color: var(--clr-sidebar);
    padding: 5em 2em;
    height: 98vh;
    width: 50vw;
    transition: transform .35s ease-in-out;
    left: 0;
    max-width: 256px;
    position: absolute;
    top: 2em;
    transform: translateX(-100%);
    min-width: 240px;
    z-index: 20;
}


.open{
    transform: none;
}

.side-nav{
    position: relative;
}

.side__item{
    width: 100%;
    padding: 1em 2em;
}

.side__link{
    font-size: 16px;
    width: 100%;
    color: var(--clr-primary);
    font-weight: 600;
    text-transform: capitalize;
    transition: all .15s ease-out;
}

.side__link:hover{
    color: lightskyblue;
}

.side-toggle{
    padding: 0 .5rem !important;
    display: block;
    cursor: pointer;
    width: 35px;
    align-items: center;
    justify-content: center;
    background: white;
    transition: transform .04s .1s ease-out;
    z-index: 20;
    height: 19px;
}

.toggle-button--sidebar{
    background-color: var(--clr-primary);
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: -100px;
    padding-top: 100px;
	position: relative;
}

.product{
    display: flex;
    flex-direction: column;
    background: var(--clr-product);
    overflow: hidden;
    margin-bottom: 2em;
    flex: 1 1 300px;
    max-width: 450px;
    color: #eee;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.product--design{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-bottom: 10px solid lightblue;
}

.product__title{
    text-align: left;
    text-transform: capitalize;
    letter-spacing: unset;
}

.product__body{
    padding: 1.5em;
    color: var(--clr-text--product)
}

.product__body--print{
    border-radius: 100px;
}

.product__image{
    order: -1;
    height: 300px;
    overflow: hidden;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .35s ease-in-out;
}

.product__image:hover .img{
    transform: scale(1.08);
}

.legal, .contact__address--GST > *{
    color: salmon;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 102;
    background-color: #fff;
    display: none;
    overflow-y: auto;
    height: 100vh;
    padding: 0; 
    bottom: 0; 
}

.modal--print{
    background: rgba(0,0,0,.45);
}

.product-card{
    background: #fff;
    width: 96%;
    margin: auto;
    padding: 0;
    padding: 5px;
	animation: grow .25s ease;
}

@keyframes grow{
        from{transform: scale(0.9);}
        
		to{
            transform: scale(1);
        }
}


.product-card__image{
    width: 100%;
}

.product-card__body{
    width: 100%;
    background: var(--clr-intro);
    min-height: 200px;
    padding: .5em;
}

.product-card__title{
    text-align: center;
    text-transform: capitalize;
	font-size: 24px;
	margin-bottom: 1em;
	font-weight: 500;
	text-transform: uppercase;
}

.product-card__table{
	width: 80%;
	margin: 0 auto;
}

.product-card__th{
	text-align: left;
	width: 150px;
}

.product-card__td{
	text-align: left;
}

.modal.appear{
    display: block;
}

.modal--boards.appear{
    display: flex;
    object-position: top;
}

.modal--boards__img{
    height: 40%;
    width: 100%;
}

.product-card__form{
    position: sticky;
    left: 2%;
    right: 2%;
    bottom: -1px;
    z-index: 102;
}

.form-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-elements > .form_input{
    flex: 1 2 250px;
}



.form__input--product-card#name{
    display: none;
}

.btn--form{
    flex: 1 1 150px;
}

.btn--form{
    background: lightskyblue;
    padding: 12px;
    color: #fefefe;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 1px solid lightskyblue;
}

.close_card{
    position: absolute;
    background-color: var(--clr-light);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    right: 1px;
    top: 1px;
    font-size: 22px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_card--disinfectant{
    background-color: var(--clr-white);
    color: var(--clr-primary);
}

.swiper-button-next,
.swiper-button-prev{
    color: rgb(0,0,0);
    width: 28px;
    height: 28px;
}

.swiper-button--board{
    color: #fff;
}

.swiper-button-next{
    position: absolute;
    right: 0;
}

.swiper-button-prev{
    position: absolute;
    left: 0;
}



.swiper-button-prev::after,
.swiper-button-next::after{
    transform: scale(.5);
}

.swiper-container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slide {
    object-fit: cover;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.product--design.service{
    width: 95%;
    border-radius: 0 0 10px 10px;
    margin: 0 auto 2em auto;
}

.product--design .product__image{
    height: 270px;
    border-radius: 4px 4px 0 0;
}

.product--design{
    display: flex;
    flex-direction: column;
}

.boards__title{
    position: absolute;
    top: 0;
    left: 50%;
    font-size: var(--fs-3);
    transform: translateX(-50%);
    width: 100%;
}

.boards{
    padding-top: 5em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 280px;
    grid-gap: 2.5em;

}

.boards + .boards{
    margin-top: 5em;
}


.modal--boards .swiper-container{
    width: 80%;
    height: 80%;
}

.modal--boards{
}



/* 
.board{
    max-width: 500px;
    margin: 0 auto;
}

.board + .board{
    margin-top: 2.5em;
} */

@media only screen and (min-width: 620px){

    .products{
        justify-content: space-around;
    }
   
    .product{
        flex: 1 0 280px;
    }

    .product:nth-of-type(odd){
        margin-right: 1em;
    }

    
    .station-reached .side__link{
        color: lightskyblue;
    }

    .product-galllery{
        display: flex;
    }
}

@media only screen and (min-width: 700px){
    .swiper-container {
    width: 70%;
    height: 80%;
  }

  .product--design.service{
      margin: 0 auto 2em auto;
  }

  .product-gallery{
      padding: 2em;
  }

}


@media only screen and (min-width: 760px){
   .intro--product{
       padding: 2em;
   }

   .intro--print::after{
       display: none;
   }

   .intro{
       height: 100vh;
   }
   
    .textbox--intro--product{
        width: calc(60% - 1.5em);
        margin-left: auto;
        padding: 5em 3.55em 4.35em 3.55em;
        height: 80%;
    }

    .section__title--product{
        font-size: var(--fs-5);
    }


    .textbox--intro--product::before{
        content: '';
        display: block;
        position: absolute;
        left: 2em;
        height: 71.5%;
        width: 40%;
        top: 2em;
        background-color: rgb(57, 176, 192);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .textbox--intro--product--healthcare::before{
        background-image: url('../Images/3.jpg');
    }
	
	.our-products{
		padding: 0 2em;
	}

    .section__title--product{
        animation: fadeInUp 1.2s ease-out;
    }

    
    .intro--product__body{
        animation: fadeInUpLate 1.8s ease;
    }

    .btn--product{
        animation: fadeInUpLater 2.2s ease;
    }
    
}


@media screen and (min-width: 800px){
    .modal{
        background-color: rgba(46,61,73,.95);
    }

    .modal.appear{
        display: flex;
    }

    .swiper-container{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: auto;
    }

    .product-card{
        background: #fff;
        width: 75%;
        padding: 0;
        padding: 5px;
        display: flex;
        border-radius: 4px;
        padding: 0;
        position: relative;
        margin: auto;
		animation: grow .5s ease-out;
    }
	
	@keyframes grow{
        from{transform: scale(0.2);}
        
		to{
            transform: scale(1);
        }
    }


    .product-card__image{
        padding: 2px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
			
    }

    .product-card__body{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 1em;
    }

    
    .form__input--product-card#name{
        display: block;
    }

    .close_card{
        position: absolute;
        border-radius: 2px;
        background-color: transparent;
        left: unset;
        right: 2px;  
    }

    .close_card:hover{
        background-color: white;
    }

    .product-card__form{
        position: absolute;
        left: 50%;
        width: 50%;
        padding: 10px ;
    }

    .product-card__form::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
    }

    .product--design.service{
        max-width: 340px;
    }
	
	.modal--boards__img{
		height: 100%;
		width: 80vw;
	}   
}



@media only screen and (min-width: 900px){
   .side-toggle{
       display: none;
   }

   .container{
       display: flex;
   }

   .side-grp{
       position: sticky;
   }

   .sidebar{
       transform: none;
       position: sticky;
       top: 0;
       width: 20vw;
       min-width: 200px;
       height: 100vh; 
   }

   .product{
       width: 100%;
       max-width: 100%;
   }

   .products{
       --subtractor: 300;
   }

     .side__link{
    font-size: 14px;
    }

    .station-reached{
        background-color: #fe786510;
    }

    .product-gallery{
        padding: 0;
    }
    
  .product--design.service{
    margin: 0 0 2em 0;
}

}


@media only screen and (min-width: 1018px){
    .product:nth-of-type(odd){
        margin-right: 2em;
    }
    
    .side__link{
        font-size: 16px;
    }

    .section__title--product{
        font-size: 46px;
    }

    .textbox--intro--product{
        padding-left: 5em;
        padding-right: 7em;
    }
}

@media only screen and (min-width: 1160px){
    .main{
        padding: 0 1.5em 1.5em 1.5em;
    }

    .product{
        margin-bottom: 3em;
    }

    .product:nth-of-type(odd){
        margin-right: 3em;
    }

}

@media only screen and (min-width: 1204px){
    .our-products{
        padding: 0 2em !important;
    }   
	.sidebar{
		max-width: 400px;
    }
	
	.textbox--intro--product{
		padding-top: 5em;
		height: 450px;
	}
    
    .intro--product{
		padding-top: 4em;
		height: 700px;
		margin-bottom: 2em;
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
	
	  .textbox--intro--product::before{
        top: 4em;
		height: 450px;
    }

}


@media only screen and (min-width: 1300px){
    
    .our-products{
        padding: 0 .5em !important;
    }

    .product:nth-of-type(odd){
        margin-right: 0;
    }
    
    .product{
        flex: 1 1 280px;
        margin-left: 2em;
    }   

    .product:nth-of-type(3n+1){
        margin-left: 0;
    }

}



.dropdown__link--active{
    color: #fe7865;
}

.rotate{
    transform: rotate(-180deg);
}

.scroll-nav__item--active {
    font-weight: 600;
    border-bottom-color: white;
  }
  

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    40% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }  
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  
@keyframes fadeInUpLate {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
  
    100%{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInUpLater {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
  
    100%{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  
    