# Auto detect text files and perform LF normalization
* text=auto
https://script.google.com/macros/s/AKfycbywJjoYnTeDW1LNrwHfyDmWeFcc0v5A9XJY23XH/exec

https://script.google.com/macros/s/AKfycbysgtvGIS0pnmbfoSWBss1GVW-fAudTbvyRzmQB2smG_fyXSCk/exec